.form-search {
    margin-top: 4px;
}

.profil-images {
    width: 24px;
    height: 24px;
    position: relative;

    &-toppbar {
        transform: scale(2.1);
        width: 100%; 
        position: absolute;
    }
}

.icon-menu {
    color: rgb(0, 0, 0);
}

.left-bar-nav {
    margin-top: 8px;
}

@include media-breakpoint-between(xs, md) { 
    .header-nav-bar {
      width: 100%;
    }
  
    .form-search {
      max-width: 40%;
    }
  }