.main-container {
  margin-top: 5.5rem !important;
}

.story-images {
  width: 70px;
  height: 70px;
  position: relative;
  border-width: 4px !important;
}
    
.post-images {
  width: 46px;
  height: 46px;
  position: relative;
}

.create-new-post {
  font-size: 19px;
}

.posted-option {
  margin-top: 11px;
}

.btnpublish {
  text-decoration: none;
  color: $blue;
}

.btnpublish:hover {
  color: $blue;
}

.feed-post {
  margin: auto !important;
}

@include media-breakpoint-between(xs, sm) { 
  .comment-post {
    font-size: 12px;
    width: fit-content;
    line-height: 25px;
  }
  .likes-comment {
    font-size: 12px;
  }
}