#profilesFromSearch {
  margin: auto;
} 

a {
  text-decoration: none;
}

.story-images {
  width: 70px;
  height: 70px;
  position: relative;
  border-width: 4px !important;
}
    
.post-images {
  width: 46px;
  height: 46px;
  position: relative;
}

.create-new-post {
  font-size: 19px;
}

.posted-option {
  margin-top: 11px;
}

.btnpublish {
  text-decoration: none;
  color: $blue;
}

.btnpublish:hover {
  color: $blue;
}

.feed-post {
  margin: auto !important;
}

.card-text {
  max-width: 450px;
  overflow: hidden;
}

@include media-breakpoint-between(xs, sm) { 
  .comment-post {
    font-size: 12px;
    width: fit-content;
    line-height: 25px;
  }
  .likes-comment {
    font-size: 12px;
  }
}

@include media-breakpoint-down(sm) {
  .card-text {
    max-width: 200px;
  }
  #profilesFromSearch {
    margin: auto;
  } 
} 