@import "../../variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

.profil-page-card {
    max-width: 860px;
    margin: auto;
}

.profil-page-images {
    width: 100px;
    height: 100px;
}

.profil-info {
    margin: auto;
    max-width: 300px;
    color: $white;
    flex-wrap: wrap;
}

strong {
    color: $white;
}

.profil-info-bio {
    color: $white;
    max-width: 600px;
    margin: auto;
    padding-top: 10px;
}

.profil-page-details {
    color: $white;
    flex-wrap: wrap;
    max-width: 600px;
    margin: auto;
}

.live-feed-list {
    overflow-y: auto;
}
  
.live-list {
    text-align: center;
}

.btn {
    border: none !important;
}

@include media-breakpoint-between(xs, lg) { 

    .main-content {
        width: 100%;
    }
  
    .live-feed-list {
      width: 100%;
      display: flex;
      flex-direction: row;
    }
  
    .feed-post-profil {
      width: 90%;
      margin: auto;
    }
  
    .live-profil {
      border: unset;
    }
  
    .live-list {
      flex-direction: row;
      position: unset;
    }
}