.profil-page-images {
    width: 100px;
    height: 100px;
}

.profil-info {
    margin: auto;
    max-width: 300px;
    color: $white;
    flex-wrap: wrap;
}

strong {
    color: $white;
}

.profil-info-bio {
    color: $white;
    max-width: 300px;
    margin: auto;
    padding: 10px;
}

.profil-page-details {
    color: $white;
    flex-wrap: wrap;
    max-width: 600px;
    margin: auto;
}