/*  color-variables */
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6 ;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

/*  color-variables */
$blue:    #44aaff;
$indigo:  #916fc8;
$purple:  #5d3b9c;
$pink:    #ab4578;
$red:     #fa2f44;
$orange:  #ffa053;
$yellow:  #ffdf7e;
$green:   #4fe49e;
$teal:    #9fffe2;
$cyan:    #8eecff;

/* container breakpoints */
$container-max-widths: (
  sm: 580px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

/* grid breakpoints */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 800px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

/*  aspect ratio */ 
$aspect-ratios: (
  "1x1": 100%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%)
);

/* display heading */
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 1.5rem
);

/* dropdown-variables  */
$dropdown-min-width: 5rem;

/* List group */
$list-group-border-width: 0;
$bs-list-group-bg: #EEE;
